*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

    body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.navbar{
    background-color: black;
    height: 80px;
    /* position: fixed; */
    width: 100%;
    font-weight: 600;
    


}
.navbar ul{
    display: flex;
    padding: 25px ;

}.navbar ul li{
list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 30px 25px;
    color: white;
}
.container{
    display: flex;
    background-color: white;
     max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    

    
}
.navbar a:hover{
    color: blue;
background: white;
border-radius: 5px;
width: 45px;
}
.box{
    border: 2px solid black;
    padding: 30px;
    margin: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 5px 10px black;


}p{
    color: gray;
    font-weight: 200;
}
.box img{
    height: 100px;
    width: 100px;
} .box input{
    width: 100px;
    background-color: brown;
    color: white;
    border-radius: 15px;
}.box input:hover{
    background-color: violet;
    color:blue;
}.form-group{
    background-color: black;
    color: white;
}
.form-group input {
width: 100%;
padding: 5px;
}